<!-- Index Card Beer Wizard Users-->

<div id="user_index">
<% @users.each do |user| %>
  <div class="card_social">
    <div class="card_social__info">
      <div class="card_social__avatar"><% if user.avatar.attached? %>
          <%= cl_image_tag user.avatar.key, class: "avatar_s--has-no-border" %>
        <% else %>
          <%= image_tag 'BeerWizardLogo.png', class: "avatar_s--has-no-border" %>
        <% end %>
      </div>
      <div class="card_social__user">
        <p class="card_social__id"><%= link_to user_path(user) do %>
          <%= user.name %>
        </p>
        <p class="card_social__city">
          <%= user.location %><% end %></p>
      </div>
    </div>
    <% if  user != current_user %>
    <span id="follow_btn_<%= user.id%>">
      <%= render 'friendships/follow_button', user: user %>
    </span>
    <% end %>
  </div>
<% end %>
</div>

