  <% users.each do |user| %>

    <!-- follow button -->

    <p><span class="index" id="follow_btn_<%= user.id%>">
      <%= render 'friendships/follow_button', user: user %></span></p>

      <!-- Follow Count -->

      <div class='follow_count mt-2' id="follow_count_<%= user.id%>">
        <%= render 'friendships/follow_count', user: user %>
        </div>

      <!-- User Card -->

    <%= link_to user_path(user) do %>
    <h4><%= user.name %></h4>
    <p><%= user.location %></p>
    <% if user.avatar.attached? %>
    <%= cl_image_tag user.avatar.key, width: 50, height: 50, crop: :fill %>
      <% else %>
        <%= image_tag 'BeerWizardLogo.png',  width: 50, height: 50, crop: :fill %>
          <% end %>
            <p><small><b>Reviews Left: </b><%= user.reviews.count %></small></p>
              <p><small class="text-muted">User Since: <%= user.created_at.strftime("%b %d, %Y")%></small></p>
              <hr>

  <% end %>
<% end %>
