<!-- Header back buton & user avatar -->

<div class="beer__topnav bw-padding-bottom">
  <%= link_to root_path do %>
    <div class="back-button">
     <%= inline_svg_tag "left-arrow.svg"%>
    </div>
  <% end %>
  <%= link_to user_path(current_user) do%>
  <%= render 'shared/avatar' %>
  <% end %>
</div>

<!-- searchbar -->
<%= render 'shared/usersearch' %>

<!-- Users card-->
<div id="user_index">
<%= render "users/indexcard" %>
</div>
