<div class="container mt-4">
  <h2><%=@user.name %>'s Profile </h2>
    <div class="mt-4">

<!--- follow button -->

  <% if current_user %>
  <% if current_user.following?(@user) %>
  <%=link_to "Unfollow", friendships_path(user_id: @user.id), method: :delete, class: "btn btn-primary"  %>
  <% else %>
  <%=link_to "Follow", friendships_path(user_id: @user.id), class: "btn btn-primary"  %>
  <% end %>
  <% end %>

<!-- followers count -->

  <p>Followers: <%= @user.followers.count %></p>


<!-- User profile card -->

  <% if @user.avatar.attached? %>
    <%= cl_image_tag @user.avatar.key, width: 250, height: 250, crop: :fill %>
  <% else %>
    <%= image_tag 'BeerWizardLogo.png',  width: 250, height: 250, crop: :fill %>
    <% end %>

    <p><b>Name: </b><%= @user.name %></p>
      <p><b>Email: </b><%= @user.email %></p>
        <p><small class="text-muted">User Since: <%= @user.created_at.strftime("%b %d, %Y")%></small></p>
    <br>

<hr>

<!--- Liked Beers --->

<h4>My Liked Beers</h4>
  <% current_user.find_liked_items.each do |liked_item|%>
    <%= link_to beer_path(liked_item) do %>
    <p><%= liked_item.name%></p>
    <% end %>
    <p><small><b>Brewery:</b> <%= liked_item.brewery %></small></p>
    <p><small><b>Description:</b> <%= liked_item.description %></small></p>
    <!-- avarage rating -->

    <div class="average-review-rating" id="average-review-rating" data-score=
      <%= liked_item.average_review %>></div>
    <span><small><b>Based on <%= liked_item.reviews.count %> reviews</b></small></span>
  <br>


    <% if liked_item.avatar.attached? %>
      <%= cl_image_tag liked_item.avatar.key, width: 150, height: 150, crop: :fill %>
      <% else %>
 <%= image_tag 'BeerWizardLogo.png',  width: 250, height: 250, crop: :fill %>     <% end %>
    <% end %>

<hr>

<!--Reviews  -->

<div class=" mt-4">
<h4> My Reviews </h4>
  <p><%= current_user.reviews.size %> Reviews Left</p>
    <% current_user.reviews.each do |reviews| %>
      <%= link_to beer_path(reviews.beer) do %>
        <p><%= reviews.beer.name%></p>
          <% if @user.avatar.attached? %>
            <p><%= cl_image_tag reviews.user.avatar.key, width: 100, height: 100, :crop=>"thumb"%></p>
          <% else %>
              <%= image_tag 'BeerWizardLogo.png',  width: 250, height: 250, crop: :fill %>
          <% end %>
            <%= link_to user_path(reviews.user) do %>
            <p><%= current_user.name %>-</p>
          <% end %>
            <div class="review-rating" data-score="<%= reviews.stars %>"></div>
            <p><small><%= reviews.description %></small></p>
          <% end %>
        <% end %>

        <div class= "mt-2">
      <br>
    <%= link_to "edit profile", edit_user_path %>
  </div>
</div>

<!-- Review Ratings Raty Script -->

<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>

<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>

