<div class="container mt-4">
<h2><%=@user.name %>'s Profile </h2>
<div class="mt-4">
<p><b>Name: </b><%= @user.name %></p>
<p><b>Email: </b><%= @user.email %></p>
<%= cl_image_tag "https://res.cloudinary.com/dtps5ugbf/image/upload/v1583799473/hru3iecgi1uw0frifrtn.jpg", width: 400, height:
300%>
<div class= "mt-2">
<br>
<%= link_to "edit profile", edit_user_path %>
</div>
</div>
</div>
