<!-- User  -->
<!-- User Profile -->
<div class="user-profile">
  <div class="user-profile__container">
      <div class="user-profile__content">
        <div class="user-profile__avatar">
          <% if @user.avatar.attached? %>
            <p><%= cl_image_tag @user.avatar.key, class: "avatar_l"%></p>
          <% else %>
            <p><%= image_tag 'BeerWizardLogo.png',  width: 250, height: 250, crop: :fill %></p>
          <% end %>
        </div>
        <div class="user-profile__infos">
          <% if  @user != current_user %>
            <h2><%= @user.name%></h2>
          <% else  %>
            <h2><%= @user.name%></h2>
          <% end %>
          <p><%= @user.location%></p>
        </div>
      </div>
  </div>
<ul class="user-profile__numbers">
    <li class="user-profile__reviews-btn">
      <h5>Reviews</h5>
      <p><%= @user.reviews.size %></p>
    </li>
    <li class="user-profile__followers-btn">
      <h5>Followers</h5>
      <p class="user-profile__bold-numbers"><%= @user.followers.count %></p>
    </li>
    <li class="user-profile__follows-btn">
      <h5>Following</h5>
      <p class="user-profile__bold-numbers" id="follow_profile_">
        <%= @user.following.count %>
        </p>
    </li>
  </ul>
</div>
<div class="accordion">
  <ul uk-accordion class="user-profile__switcher-content bw-container">
    <li>
      <a href="#" class="uk-accordion-title"><h5 class="accordion__title">Reviews<span class="accordion__counter"><%=@user.reviews.count%></span></h5></a>
      <div class="uk-accordion-content">
        <%= render "reviews/reviewcard", class: "user-profile__list-item" %>
      </div>
    </li>
    <li>
      <a href="#" class="uk-accordion-title accordion__title"><h5>Followers<span class="accordion__counter"><%=@user.followers.count%></span></h5></a>
      <div class="uk-accordion-content">
        <%= render "friendships/followerscard", class: "user-profile__list-item" %>
      </div>
    </li>
    <li class="user-profile__followers">
        <a href="#" class="uk-accordion-title accordion__title"><h5>Following<span class="accordion__counter"><%=@user.following.count%></span></h5></a>
      <div class="uk-accordion-content">
      <%= render "friendships/followingcard", class: "user-profile__list-item" %>
      </div>
    </li>
  </ul>
</div>

<!-- UL Navigation -->

<ul uk-switcher="animation: uk-animation-fade" class="user-profile__toggle-btn">
  <li class="user-profile__fav-btn">
    <a class="">Favorite</a>
  </li>
  <li class="user-profile__fav-btn">
    <a class="">Saved beers</a>
  </li>
</ul>


  <ul class="beer-background uk-switcher">
    <li>
      <div id="favorites" class="user-profile__favorites">
      <% current_user.find_liked_items.each do |liked_item|%>
        <%= link_to beer_path(liked_item) do %>
            <div class="card_beer">
              <div class="card_beer__beer">
                <%= cl_image_tag liked_item.avatar.key %>
              </div>
              <div class="card_beer__heart">
                <%= link_to like_beer_path(liked_item), class: "like-btn", method: :put, remote: :true do %>
                <div id="heart<%= liked_item.id %>">
                  <%= render 'beers/like', beer: liked_item %>
                </div>
                <% end %>
              </div>
            <div class="card_beer__content">
              <div class="average-review-rating" id="average-review-rating" data-score=
              <%= liked_item.average_review %>></div>
              <p class="card_beer__title"><%= liked_item.name%></p>
              <p class="card_beer__infos"><%= liked_item.beer_type %>, <%= liked_item.abv %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    </li>
    <li>
      <div id="bookmark" class="user-profile__bookmark">
        <% current_user.bookmarks.each do |bookmark| %>
          <%= link_to beer_path(bookmark.beer) do %>
            <div class="card_beer">
              <div class="card_beer__beer">
                <%= cl_image_tag bookmark.beer.avatar.key %>
              </div>
              <div class="card_beer__heart">
                <%= link_to like_beer_path(bookmark.beer), class: "like-btn", method: :put, remote: :true do %>
                  <%= inline_svg_tag "Heart_full.svg" %>
                <% end %>
              </div>
              <div class="card_beer__content">
                  <div class="average-review-rating" id="average-review-rating" data-score=
                  <%= bookmark.beer.average_review %>></div>
                <p class="card_beer__title"><%= bookmark.beer.name %></p>
                <p class="card_beer__infos"><%= bookmark.beer.beer_type %>, <%= bookmark.beer.abv %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
  <script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>

