<!-- User Profile -->
<div class="user-profile">
  <div class="user-profile__container">
      <div class="user-profile__content">
        <div class="user-profile__avatar">
          <% if @user.avatar.attached? %>
            <p><%= cl_image_tag @user.avatar.key, class: "avatar_l"%></p>
          <% else %>
            <p><%= image_tag 'BeerWizardLogo.png',  width: 250, height: 250, crop: :fill %></p>
          <% end %>
        </div>
        <div class="user-profile__infos">
          <% if  @user != current_user %>
            <h2><%= @user.name%></h2>
          <% else  %>
            <h2>My Profile</h2>
          <% end %>
          <p><%= @user.location%></p>
        </div>
      </div>
  </div>
  <ul uk-switcher="animation: uk-animation-fade" class="user-profile__numbers">
    <%= link_to "#" do %>
    <li class="user-profile__reviews">
      <h5>Reviews</h5>
      <p><%= @user.reviews.size %></p>
    <% end %>
    </li>
    <%= link_to "#" do %>
    <li class="user-profile__followers">
      <h5>Followers</h5>
      <p class="user-profile__bold-numbers"><%= @user.followers.count %></p>
    </li>
    <% end %>
    <%= link_to "#" do %>
    <li class="user-profile__follows">
      <h5>Following</h5>
      <p class="user-profile__bold-numbers" id="follow_profile_">
        <%= @user.following.count %>
        </p>
    </li>
    <% end %>
  </ul>

  <ul class="uk-switcher">
    <li>
      <%= render "reviews/reviewcard", class: "user-profile__list-item bw-container" %>
    </li>
    <li>
      <%= render "friendships/followerscard", class: "user-profile__list-item bw-container" %>
    </li>
    <li>
      <%= render "friendships/followingcard", class: "user-profile__list-item bw-container" %>
    </li>
  </ul>
</div>

<ul class="uk-switcher">
    <li class="user-profile__list-item">
          <% @user.following.each do |follow|%>
      </li>
        <li><%= link_to user_path(follow) do %>
            <% if @user.avatar.attached? %>
              <p><small><%= cl_image_tag follow.avatar.key, class: "avatar_l" %></small> </p>
                <%= follow.name %>
            <% else %>
              <%= image_tag 'BeerWizardLogo.png',  width: 50, height: 50, crop: :fill %>
                  <%= follow.name %>
            <% end %>
          <% end %>
        <% end %>
        </li>
    <li>Gustave</li>
  </ul>

    <!-- User Followers -->




<!--- follow button -->

  <div class="mt-4" id="follow_btn_<%= @user.id %>">
    <p><%= render 'friendships/follow_button', user: @user %></p>
  </div>



<!-- Accordion -->

<div class="accordion">
  <ul uk-accordion>
    <li>
      <a href="#" class="uk-accordion-title accordion__title"><h5>Wanted List</h5></a>
      <div class="uk-accordion-content accordion__content">
        <% current_user.bookmarks.each do |bookmark| %>
        <%= link_to beer_path(bookmark.beer) do %>
        <% if bookmark.beer.avatar.attached? %>
          <%= cl_image_tag bookmark.beer.avatar.key, width: 150, height: 150, crop: :fill %>
        <% else %>
          <%= image_tag '/assets/Sir-Wallac-Hivernale-07a26e9c9dcb449a374caa9eae5f80950a683b3518e0c65d1561d12293915e27.png',  width: 50, height: 50, crop: :fill %>
        <% end %>
        <p><%= bookmark.beer.name %></p>
        <p><b><small>Brewery: <%= bookmark.beer.brewery %></small></b></p>
        <% end %>
      <% end %>
    </div>
  </li>
  <li>
      <a href="#" class="uk-accordion-title accordion__title"><h5>Favorites</h5></a>
      <div class="uk-accordion-content accordion__content">
        <% current_user.find_liked_items.each do |liked_item|%>
          <%= link_to beer_path(liked_item) do %>
            <p><%= liked_item.name%></p>
          <% end %>
            <p><small><b>Brewery:</b> <%= liked_item.brewery %></small></p>
          <p><small><b>Description:</b> <%= liked_item.description %></small></p>

        <!-- avarage rating -->

    <div class="average-review-rating" id="average-review-rating" data-score=
      <%= liked_item.average_review %>></div>
        <span><small><b>Based on <%= liked_item.reviews.count %> reviews</b></small></span>
        <br>
        <% if liked_item.avatar.attached? %>
          <%= cl_image_tag liked_item.beer.avatar.key, width: 150, height: 150, crop: :fill %>
        <% else %>
          <%= image_tag '/assets/Sir-Wallac-Hivernale-07a26e9c9dcb449a374caa9eae5f80950a683b3518e0c65d1561d12293915e27.png',  width: 50, height: 50, crop: :fill %>
        <% end %>
      <% end %>
    </div>
  </li>

    <li>
      <a href="#" class="uk-accordion-title accordion__title"><h5>Reviews <span class="accordion__counter"><%=@user.reviews.count%></span></h5></a>
      <div class="uk-accordion-content accordion__content">
        <% @user.reviews.each do |reviews| %>
        <%= link_to beer_path(reviews.beer) do %>
        <div class="review-rating" data-score="<%= reviews.stars %>"></div>
        <p><%= reviews.beer.name%></p>
       <% if reviews.beer.avatar.attached? %>
          <%= cl_image_tag review.beer.avatar.key, width: 150, height: 150, crop: :fill %>
        <% else %>
          <%= image_tag '/assets/Sir-Wallac-Hivernale-07a26e9c9dcb449a374caa9eae5f80950a683b3518e0c65d1561d12293915e27.png',  width: 50, height: 50, crop: :fill %>
        <% end %>
        <p><b><%= reviews.title %></b></p>
        <p><small><%= reviews.description %></small></p>
        <% end %>
      <% end %>
        <p></p>
      </div>
    </li>
  </ul>
</div>



<!-- Review Ratings Raty Script -->
