<div class="container mt-4">
  <h2><%=@user.name %>'s Profile </h2>
    <div class="mt-4">

  <%= cl_image_tag @user.avatar.key, width: 250, height: 250, crop: :fill %>
    <p><b>Name: </b><%= @user.name %></p>
      <p><b>Email: </b><%= @user.email %></p>
    <br>

<h4>My Liked Beers</h4>
  <% current_user.find_liked_items.each do |liked_item|%>
    <p><%=link_to liked_item.name%></p>
      <%= cl_image_tag liked_item.avatar.key, width: 150, height: 150, crop: :fill %>
      <% end %>
      <div class= "mt-2">
      <br>
      <%= link_to "edit profile", edit_user_path %>
    </div>
  </div>
</div>
