<div class="rating">
  <div class="rating__box">
    <%= link_to "#" do %>
    <div class="rating__star">
      <%= inline_svg_tag "star.svg" %>
    </div>
    <% end %>
  </div>
  <div class="rating__box">
    <%= link_to "#" do %>
    <div class="rating__star">
      <%= inline_svg_tag "star.svg" %>
    </div>
    <% end %>
  </div>
  <div class="rating__box">
    <%= link_to "#" do %>
    <div class="rating__star">
      <%= inline_svg_tag "star.svg" %>
    </div>
    <% end %>
  </div>
  <div class="rating__box">
    <%= link_to "#" do %>
    <div class="rating__star">
      <%= inline_svg_tag "star.svg" %>
    </div>
    <% end %>
  </div>
  <div class="rating__box">
    <%= link_to "#" do %>
    <div class="rating__star">
      <%= inline_svg_tag "star.svg" %>
    </div>
    <% end %>
  </div>
</div>
