
  <% @user.following.limit(4).each do |following| %>
    <div class="card_social">
      <div class="card_social__info">
        <div class="card_social__avatar">
          <% if following.avatar.attached? %>
            <%= cl_image_tag following.avatar.key, class: "avatar_s--has-no-border" %>
          <% else %>
            <%= image_tag 'BeerWizardLogo.png', class: "avatar_s--has-no-border" %>
          <% end %>
        </div>
        <div class="card_social__user">
          <p class="card_social__id">
            <%= link_to user_path(following) do %>
            <%= following.name %>
            <% end %>
          </p>
          <p class="card_social__city">
            <%= link_to user_path(following) do %>
              <%= following.location %>
            <% end %>
            </p>
        </div>
      </div>
      <% if  following != current_user %>
      <span id="follow_btn_<%= following.id%>">
        <%= render 'friendships/follow_button', user: following %>
      </span>
      <% end %>
    </div>
  <% end %>
