
    <% @user.followers.limit(4).each do |follower| %>
    <div class="card_social">
      <div class="card_social__info">
        <div class="card_social__avatar">
          <% if follower.avatar.attached? %>
            <%= cl_image_tag follower.avatar.key, class: "avatar_s--has-no-border" %>
          <% else %>
            <%= image_tag 'BeerWizardLogo.png', class: "avatar_s--has-no-border" %>
          <% end %>
        </div>
        <div class="card_social__user">
          <p class="card_social__id">
            <%= link_to user_path(follower) do %>
            <%= follower.name %>
            <% end %>
          </p>
          <p class="card_social__city">
            <%= link_to user_path(follower) do %>
            <%= follower.location %><% end %></p>
        </div>
      </div>
      <% if  follower != current_user %>
      <span id="follow_btn_<%= follower.id%>">
        <%= render 'friendships/follow_button', user: follower %>
      </span>
      <% end %>
    </div>
  <% end %>
