<!-- Search bar --->
<div class="mt-2">
  <h2> Beer Wizard </h2>
  <div class= "mb-2">

</div>
<%= form_tag beers_path, method: :get, id: "query", class: "search-bar" do %>
<%= text_field_tag :query,
params[:query],
placeholder: "Find a Beer"%>
<% end %>
</div>

<!---------->
<!-- Search Query Buttons -->
<div class="beer_type">
<%= link_to "IPA", {controller: "beers", query: "IPA"}, class: "beer-type__button" %>
<%= link_to "Gose", {controller: "beers", query: "Gose"}, class: "beer-type__button"%>
<%= link_to "Stout", {controller: "beers", query: "Stout"}, class: "beer-type__button"%> <br>
<%= link_to "Pale Ale", {controller: "beers", query: "Pale Ale"}, class: "beer-type__button"%>
<%= link_to "Brown Ale", {controller: "beers", query: "Brown Ale"}, class: "beer-type__button"%>
<%= link_to "Lager", {controller: "beers", query: "Lager"}, class: "beer-type__button"%>
<%= link_to "Pilsner", {controller: "beers", query: "Pilsner"}, class: "beer-type__button"%>
<%= link_to "Saison", {controller: "beers", query: "Saison"}, class: "beer-type__button"%>
<%= link_to "Belgian", {controller: "beers", query: "Belgian"}, class: "beer-type__button"%>
</div>

<h2> Top Rated Beers </h2>
<!--carousel-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
<div class="carousel-item">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
<div class="carousel-item">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
<div class="carousel-item">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
<!-- // carousel-->
<h2> New Users </h2>
<!-- Recent Users x 4 -->
<div id="user_index">
<% @users.sample(5).each do |user| %>
<div class="card_social">
<div class="card_social__info">
<div class="card_social__avatar"><% if user.avatar.attached? %>
<%= cl_image_tag user.avatar.key, class: "avatar_s--has-no-border" %>
<% else %>
<%= image_tag 'BeerWizardLogo.png', class: "avatar_s--has-no-border" %>
<% end %>
</div>
<div class="card_social__user">
<p class="card_social__id"><%= link_to user_path(user) do %>
<%= user.name %><% end %>
</p>
<p class="card_social__city"><%= link_to user_path(user) do %>
<%= user.location %><% end %></p>
</div>
</div>
<% if user != current_user %>
<span id="follow_btn_<%= user.id%>">
<%= render 'friendships/follow_button', user: user %>
</span>
<% end %>
</div>
<% end %>
</div>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
$('.average-review-rating').raty({
readOnly: true,
path: '/assets/',
score: function() {
return $(this).attr('data-score');
},
});
});
</script>
