<div class="beer__topnav bw-padding-bottom">
  <% if user_signed_in? %>
  <%= link_to root_path do %>

  <% end %>
  <%= link_to user_path(current_user) do%>
  <%= render 'shared/avatar' %>
  <% end %>
  <% end %>
</div>

<!-- Search bar --->
<div class="mt-2 ml-2 mr-2">
  <h2> Beer Wizard </h2>
  <div class= "mb-2">
</div>
<%= form_tag beers_path, method: :get, id: "query", class: "search-bar" do %>
<%= text_field_tag :query,
params[:query],
placeholder: "Find a Beer"%>
<% end %>
</div>

<!---------->
<!-- Search Query Buttons -->
<div class="beer_type">
<%= link_to "IPA", {controller: "beers", query: "IPA"}, class: "beer-type__button" %>
<%= link_to "Gose", {controller: "beers", query: "Gose"}, class: "beer-type__button"%>
<%= link_to "Stout", {controller: "beers", query: "Stout"}, class: "beer-type__button"%> <br>
<%= link_to "Pale Ale", {controller: "beers", query: "Pale Ale"}, class: "beer-type__button"%>
<%= link_to "Brown Ale", {controller: "beers", query: "Brown Ale"}, class: "beer-type__button"%>
<%= link_to "Lager", {controller: "beers", query: "Lager"}, class: "beer-type__button"%>
<%= link_to "Pilsner", {controller: "beers", query: "Pilsner"}, class: "beer-type__button"%>
<%= link_to "Saison", {controller: "beers", query: "Saison"}, class: "beer-type__button"%>
<%= link_to "Belgian", {controller: "beers", query: "Belgian"}, class: "beer-type__button"%>
</div>
<div class="ml-2">
<h2> Top Rated Beers </h2>
</div>
<!--carousel-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
<div class="carousel-item">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
<div class="carousel-item">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
<div class="carousel-item">
<%= render 'beers/slideshowcard', beer: @beer %>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
<!-- // carousel-->
<div class="ml-2 mt-2">
<h2> New Users </h2>
</div>
<!--carousel-->
<div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<%= render 'users/userslides', user: @user %>
</div>
<div class="carousel-item">
<%= render 'users/userslides', user: @user %>
</div>
<div class="carousel-item">
<%= render 'users/userslides', user: @user %>
</div>
<div class="carousel-item">
<%= render 'users/userslides', user: @user %>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>












<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
$('.average-review-rating').raty({
readOnly: true,
path: '/assets/',
score: function() {
return $(this).attr('data-score');
},
});
});
</script>
