<!-- Search Query Buttons -->

<div class="beer_type">
  <%= link_to "IPA", {controller: "beers", query: "IPA"},  class: "beer-type__button" %>
  <%= link_to "Gose", {controller: "beers", query: "Gose"}, class: "beer-type__button"%>
  <%= link_to "Stout", {controller: "beers", query: "Stout"}, class: "beer-type__button"%> <br>
  <%= link_to "Pale Ale", {controller: "beers", query: "Pale Ale"}, class: "beer-type__button"%>
  <%= link_to "Brown Ale", {controller: "beers", query: "Brown Ale"}, class: "beer-type__button"%>
  <%= link_to "Lager", {controller: "beers", query: "Lager"}, class: "beer-type__button"%>
  <%= link_to "Pilsner", {controller: "beers", query: "Pilsner"}, class: "beer-type__button"%>
  <%= link_to "Saison", {controller: "beers", query: "Saison"}, class: "beer-type__button"%>
  <%= link_to "Belgian", {controller: "beers", query: "Belgian"}, class: "beer-type__button"%>
</div>
<!-- Search bar --->

  <%= form_tag beers_path, method: :get, id: "query", class: "search-bar" do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Find a Beer"%>
  <% end %>
<!---------->

<h2> Top Rated </h2>
<% @beers.limit(4).each do |beer| %>
<%= link_to beer_path(beer) do %>
<p></p>
<div class="beer-background">
<div class="card_beer">
  <div class="card_beer__beer"><%= cl_image_tag beer.avatar.key %></div>
  <div class="card_beer__content">
      <p class="card_beer__title"><%= beer.name %></p>
      <p class="card_beer__infos"><%= beer.beer_type %>, <%= beer.abv %></p>
    </div>
    <div class="average-review-rating average-review-rating-s" id="average-review-rating<%= beer.id %>" data-score=<%= beer.average_review %>>
    </div>
    <%= link_to like_beer_path(beer), class: "like-btn", method: :put, remote: :true do %>
      <span><i class="fas fa-heart pl-4"></i></span>
    <% end %>
    <span class="likes-count-" id="likes-count-<%= beer.id %>">
  <%= render 'beers/vote', beer: beer %></span>
  </div>
</div>

<% end %>
<% end %>

<!-- Recent Users x 4 -->

<div class="container mt-4">
  <div id="user_index">
  <h2>RECENT USERS</h2>
  <% @users.limit(4).each do |user| %>
    <div class="card_social">
      <div class="card_social__info">
        <div class="card_social__avatar"><% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, class: "avatar_s--has-no-border" %>
          <% else %>
            <%= image_tag 'BeerWizardLogo.png', class: "avatar_s--has-no-border" %>
          <% end %>
        </div>
        <div class="card_social__user">
          <p class="card_social__id"><%= link_to user_path(user) do %>
            <%= user.name %><% end %>
          </p>
          <p class="card_social__city"><%= link_to user_path(user) do %>
            <%= user.location %><% end %></p>
        </div>
      </div>
      <% if  user != current_user %>
      <span id="follow_btn_<%= user.id%>">
        <%= render 'friendships/follow_button', user: user %>
      </span>
      <% end %>
    </div>
  <% end %>
  </div>
 </div>

<br>


<!-- Navbar -->

<!-- Text paragraph -->



<!-- Bookmark button -->

<!-- Accordion -->


<!-- User Profile -->


<!-- Search Query Buttons -->


<!-- Back button -->




<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
