<!-- beer card start -->
<div class="container mt-4">

<!-- searchbar -->

    <%= render 'shared/searchbar' %>
<!-- -->

<!-- buttons -->

<button type="button" class="btn btn-secondary mt-4" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Beer Type
</button>
<p></p>
<a href="#" class="button-m">Follow</a>

<!-- buttons end -->

<!-- avatar -->

<p>
<div><%= image_tag ("user_avatar.png"), class:"avatar_s" %></div>
<p>
<div><%= image_tag ("user_avatar.png"), class:"avatar_m" %></div>
<p>
<div><%= image_tag ("user_avatar.png"), class:"avatar_l" %></div>
<p>

<!-- avatar end -->

<!-- card social -->

<div class="card_social">
  <div class="card_social__avatar"><%= image_tag "user_avatar.png", class:"avatar_m" %></div>
  <div class="card_social__description">Martin Picard Montréal, QC</div>
  <a href="#" class="button-m">FOLLOW</a>
</div>

<!-- card social end -->

<!-- card review -->
<p></p>
 <div class="card_review">
  <div class="card_review__stars"><%= image_tag "big-star.png" %></div>
  <div class="card_review__stars"><%= image_tag "big-star.png" %></div>
  <div class="card_review__stars"><%= image_tag "big-star.png" %></div>
  <div class="card_review__stars"><%= image_tag "big-star.png" %></div>
  <div class="card_review__avatar"><%= image_tag "user_avatar.png", class:"avatar_m" %></div>
  <div class="card_review__description">Martin Picard<br>Montréal, QC</div>
</div>


<!-- card review -->


<p></p>
    <div class="card_beer">
      <div class="card_beer__beer"><%= image_tag "Sir-Wallac-Hivernale.png" %></div>
      <div class="card_beer__heart"><%= link_to "#" do %> <%= inline_svg_tag "like.svg" %><% end %></div>
    </div>
  <!-- beer card end -->
