<!-- searchbar -->

    <%= render 'shared/searchbar' %>

<!-- buttons -->

<button type="button" class="btn btn-secondary mt-4" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Beer Type
</button>

<!-- buttons end -->
<p></p>
<a href="#" class="button-m">Follow</a>


<!-- avatar -->
<p></p>
<div class="show_row">
  <%= image_tag ("user_avatar.png"), class:"avatar_s" %>
  <%= image_tag ("user_avatar.png"), class:"avatar_m" %>
  <%= image_tag ("user_avatar.png"), class:"avatar_l" %>
</div>
<!-- Beer card end -->

<p></p>
<div class="card_beer">
  <div class="card_beer__beer"><%= image_tag "Sir-Wallac-Hivernale.png" %></div>
  <div class="card_beer__heart"><%= link_to "#" do %> <%= inline_svg_tag "like.svg" %><% end %></div>
</div>

<!-- Navbar -->

<p></p>
<div class="navbar__">
  <div class="navbar__bg">
    <%= link_to "#" do %>
    <%= inline_svg_tag "Home.svg", class: 'navbar__icons' %>
    <% end %>
  </div>
  <div class="navbar__bg">
    <%= link_to "#" do %>
    <%= inline_svg_tag "Barcode.svg", class: 'navbar__icons' %>
    <% end %>
  </div>
  <div class="navbar__bg">
    <%= link_to "#" do %>
    <%= inline_svg_tag "Bell.svg", class: 'navbar__icons' %>
    <% end %>
  </div>
  <div class="navbar__bg">
    <%= link_to "#" do %>
    <%= inline_svg_tag "Search.svg", class: 'navbar__icons' %>
    <% end %>
  </div>
</div>

<!-- Text paragraph -->

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ipsum, ipsam voluptatem! Quibusdam quos adipisci at ipsa qui dolor autem dicta et vel atque eos, assumenda officiis sint corrupti excepturi.</p>

<!-- ABV -->

<p class="abv">6.5%</p>

<!-- H1 -->

<h1>Lorem ipsum dolor sit amet.</h1>

<!-- H2 -->

<h2>IBU</h2>

<!-- Bookmark button -->

<div class="show_row">
  <div class="circle">
    <%= link_to "#" do %>
    <%= inline_svg_tag "Heart_full.svg", class: 'bookmark' %>
    <% end %>
  </div>
  <div class="circle">
    <%= link_to "#" do %>
    <%= inline_svg_tag "Bookmark_full.svg", class: 'bookmark' %>
    <% end %>
  </div>
</div>

<!-- Accordion -->

<div class="accordion">
  <ul uk-accordion>
    <li>
      <a href="#" class="uk-accordion-title accordion__title"><h4>Beer description</h4></a>
      <div class="uk-accordion-content accordion__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam eaque minima totam illum a maxime impedit fugit non nam doloribus, beatae ratione dicta, explicabo necessitatibus at possimus? Illum, reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ullam exercitationem necessitatibus molestias magni reiciendis itaque vel, corrupti aspernatur nihil alias possimus veniam distinctio asperiores fuga. Maxime blanditiis facilis dolorum.</p>
      </div>
    </li>
    <li>
      <a href="#" class="uk-accordion-title accordion__title"><h4>Review <span class="accordion__counter">173</span></h4></a>
      <div class="uk-accordion-content accordion__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam eaque minima totam illum a maxime impedit fugit non nam doloribus, beatae ratione dicta, explicabo necessitatibus at possimus? Illum, reiciendis!</p>
      </div>
    </li>
  </ul>
</div>
