<div class="beer-background">
  <% beers.each do |beer| %>
    <%= link_to beer_path(beer) do %>
    <div class="card_beer">
      <div class="card_beer__beer">
        <% if beer.avatar.attached? %>
          <%= cl_image_tag beer.avatar.key %>
        <% else %>
            <%= image_tag "Sir-Wallac-Hivernale.png" %>
        <% end %>
      </div>
      <div class="card_beer__heart"><%= link_to "#" do %> <%= inline_svg_tag "heart_full.svg" %><% end %></div>
      <div class="card_beer__content">
        <p class="card_beer__title"><%= beer.name %></p>
        <p class="card_beer__infos"><%= beer.beer_type %>, <%= beer.abv %></p>
        <div class="average-review-rating average-review-rating-s" id="average-review-rating<%= beer.id %>" data-score=
          <%= beer.average_review %>></div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

