<div class="beer-background">
  <% @beers.sample(2).each do |beer| %>
    <%= link_to beer_path(beer) do %>
    <div class="card_beer">
      <div class="card_beer__beer">
        <%= cl_image_tag beer.avatar.key %>
      </div>
      <div class="card_beer__heart">
        <%= link_to like_beer_path(beer), class: "like-btn", method: :put, remote: :true do %>

        <% end %>
      </div>
      <div class="card_beer__content">
      <div class="average-review-rating average-review-rating-s" id="average-review-rating<%= beer.id %>" data-score=<%= beer.average_review %>>
      </div>
        <p class="card_beer__title"><%= beer.name %></p>
        <p class="card_beer__infos"><%= beer.beer_type %>, <%= beer.abv %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
