<div class="container mt-4">
<h1>Beers Index</h1>

  <% @beers.each do |beer| %>
    <%= link_to beer_path(beer) do %>
        <h4><%= beer.name %></h4>
        <% if beer.avatar.attached? %>
        <%= cl_image_tag beer.avatar.key, width: 300, height: 400, crop: :fill %>
      <% else %>
    <%= image_tag 'blank.jpg'%>
  <% end %>
<% end %>

 <div>
 <%= link_to like_beer_path(beer), class: "like-btn", method: :put, remote: :true do %>
    <span><i class="fas fa-heart pl-4"></i></span>
      <% end %>
  <span class="likes-count" id="likes-count-<%= beer.id %>"><%= render 'beers/vote', beer: beer %></span>
</div>


    <div>
      <% if beer.avatar.present? %>
      <% else %>
        <%= image_tag 'blank.jpg'%>
      <% end %>
      </div>


<p><%= beer.description%></p>
<p><small class="text-muted"><%=beer.created_at.strftime("%b %d, %Y")%></small></p>
<% end %>


<br>
  <h1> Users </h1>
    <ul>
    <% @users.each do |user| %>
      <li><%=link_to user.email, user_path(user) %></li>
    <% end %>
  </ul>
</div>



