<div class="bw-container bw-bg-light-gray bw-padding-top">
<!-- app/views/offers/show.html.erb -->


<!--   <h1>Beers Index</h1>
 -->  <!-- filters -->

  <!--Beer Search -->

  <div class="beer__topnav bw-padding-bottom">
    <%= link_to root_path do %>
      <div class="back-button">
       <%= inline_svg_tag "left-arrow.svg"%>
      </div>
    <% end %>
    <%= link_to user_path(current_user) do%>
      <%= render 'shared/avatar' %>
    <% end %>
  </div>
  <%= render 'shared/searchbar' %>
</div>

  <!-- Beer cardS -->

  <div id= "beers_index">
    <%= render 'beers/card', beers: @beers %>
  </div>


<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
