<div class="container mt-4">
<h2><%= @beer.name %></h2>
<br>
<%= cl_image_tag @beer.avatar.key, width: 300, height: 400, crop: :fill %>
<br>
<div class="mt-2">
<h2>
<%= pluralize @beer.reviews.size, "Review" %>
</h2>
</div>
<br>
<div id="reviews">
<% if @beer.reviews.blank? %>
  Be the first to leave a review for <%= @beer.name %> Beer!
<% else %>
  <% @beer.user.reviews.each do |review| %>
  <% end %>
<% end %>
</div>
<%= render 'reviews/show', review: @review %>
<%= render 'reviews/form', beer: @beer, review: @review %>
<%=link_to "edit beer", edit_beer_path, class: "btn btn-primary mt-2" %>
</div>
