<!-- Beer card /beer/#id -->

<section class="beer" style="background-color: <%=
  @color

 %>">
  <div class="bw-container bw-padding-top ">
    <div class="beer__topnav">

      <%= link_to beers_path do %>
      <div class="back-button">
       <%= inline_svg_tag "left-arrow.svg"%>

      </div>
      <% end %>
  <%= link_to user_path(current_user) do%>
  <% if current_user.avatar.attached? %>
    <%= cl_image_tag current_user.avatar.key, class:"avatar_s" %>
      <% else %>
        <%= image_tag 'BeerWizardLogo.png',  class: "avatar_s" %>
      <% end %>
    <% end %>

    </div>
    <div class="beer__main-infos">
      <div class="beer__vignette">
        <%= cl_image_tag @beer.avatar.key%>
      </div>
      <div class="beer__details">
        <div class="beer__details-top">
          <h4><%= @beer.beer_type %></h4>
          <h1><%= @beer.name %></h1>
          <p class="abv"><%= @beer.abv %></p>
          <%= render 'shared/rating' %>
        </div>
        <div class="beer__bookmark">
          <div class="circle">
          <%= link_to like_beer_path(@beer), class: "like-btn", method: :put, remote: :true do %>
            <%= inline_svg_tag "heart_stroke.svg", class: "circle__bookmark"%>
            <% end %>
          </div>
          <div class="circle">
            <%= link_to bookmarks_update_path(beer: @beer), method: :get, remote: true do %>
            <%= inline_svg_tag "bookmark_stroke.svg", class: "circle__bookmark"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="beer__infos">
  <div class="bw-container">
  <table>
    <tr>
      <th>IBU</th>
      <th>Style</th>
      <th>Brewery</th>
    </tr>
    <tr>
      <td><%= @beer.ibu %></td>
      <td><%= @beer.style %></td>
      <td><%= @beer.brewery %></td>
    </tr>
  </table>
  </div>
</section>
<section class="beer__description">
  <div class="bw-container">
    <div class="accordion">
      <ul uk-accordion>
        <li>
          <a href="#" class="uk-accordion-title accordion__title"><h5>Beer description</h5></a>
          <div class="uk-accordion-content accordion__content">
            <p class=""><%= @beer.description %></p>
          </div>
        </li>
        <li>

          <a href="#" class="uk-accordion-title accordion__title">
          <h5>Review <span class="accordion__counter"><%= @beer.reviews.count %></span></h5></a>
            <div class="uk-accordion-content accordion__content">
              <p><% @beer.reviews.each do |review| %></p>
                <div id="reviews">
                <%= render 'reviews/show', review: review %>
              </div>
              <% end %>

          </div>
        </li>
      </ul>
    </div>
  </div>

  <section class="beer__buttons uk-margin-medium-top">
    <div class="bw-container bw-flex">
      <div class="uk-margin-left">
        <p><%= render 'reviews/form', beer: @beer, review: @review %></p>
      </div>
<!--       <div class="uk-margin-left">
        <%= link_to "Share", root_path, class: "button-m" %> -->
    </div>
  </section>
</section>
<%= render 'shared/bottomnav' %>

<hr>

    <%=link_to "edit beer", edit_beer_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>

<!-- review scripts w raty -->

<!-- <h2><%= @beer.name %></h2>
  <h4>Average Rating</h4>
    <div class="average-review-rating" data-score=<%= @beer.average_review %>></div>
    <span>Based on <%= @beer.reviews.count %> reviews</span>
  <br>
 -->
<!-- Beer Avatar -->

<!--   <% if @beer.avatar.attached? %>
    <%= cl_image_tag @beer.avatar.key, width: 150, height: 150, crop: :fill %>
      <% else %>
    <%= image_tag 'BeerWizardLogo.png',  :width=> 150, :height=> 150 %>
  <% end %>
 -->
<!-- review likes w ajax rendering like/unlike -->

<!--   <%= link_to like_beer_path(@beer), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fas fa-heart pl-4"></i></p></span>
    </div>
  <% end %>
 <span class="likes-count" id="likes-count-<%= @beer.id %>"><%= render 'beers/vote', beer: @beer %></span>
 -->

<!-- review scripts w raty to rate -->
<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
