<section class="beer">
  <div class="bw-container bw-padding-top ">
    <div class="beer__topnav">
      <%= link_to "#" do %>
      <div class="back-button">
       <%= inline_svg_tag "left-arrow.svg"%>
      </div>
      <% end %>
      <%= image_tag ("user_avatar.png"), class:"avatar_s" %>
    </div>
    <div class="beer__main-infos">
      <div class="beer__vignette">
        <%= image_tag "Sir-Wallac-Hivernale.png", width: "151px" %>
      </div>
      <div class="beer__details">
        <h4>New England IPA</h4>
        <h1><%= @beer.name %></h1>
        <p class="abv">6.5%</p>
        <%= render 'shared/rating' %>
        <div class="beer__bookmark">
          <div class="circle">
            <%= link_to "#" do %>
            <%= inline_svg_tag "heart_stroke.svg", class: "circle__bookmark"%>
            <% end %>
          </div>
          <div class="circle">
            <%= link_to "#" do %>
            <%= inline_svg_tag "bookmark_stroke.svg", class: "circle__bookmark"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="beer__description">
  <div class="bw-container">
    <div class="accordion">
      <ul uk-accordion>
        <li>
          <a href="#" class="uk-accordion-title accordion__title"><h5>Beer description</h5></a>
          <div class="uk-accordion-content accordion__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam eaque minima totam illum a maxime impedit fugit non nam doloribus, beatae ratione dicta, explicabo necessitatibus at possimus? Illum, reiciendis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ullam exercitationem necessitatibus molestias magni reiciendis itaque vel, corrupti aspernatur nihil alias possimus veniam distinctio asperiores fuga. Maxime blanditiis facilis dolorum.</p>
          </div>
        </li>
        <li>
          <a href="#" class="uk-accordion-title accordion__title"><h5>Review <span class="accordion__counter">173</span></h5></a>
          <div class="uk-accordion-content accordion__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam eaque minima totam illum a maxime impedit fugit non nam doloribus, beatae ratione dicta, explicabo necessitatibus at possimus? Illum, reiciendis!</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <section class="beer__buttons uk-margin-medium-top">
    <div class="bw-container bw-flex">
      <div class="">
        <%= link_to "Add review", root_path, class: "button-m" %>
      </div>
      <div class="uk-margin-left">
        <%= link_to "Share", root_path, class: "button-m" %>
    </div>
    </div>
  </section>
</section>
<%= render 'shared/bottomnav' %>

<div class="container mt-2 ">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

<!-- Review Average Rating -->

<h2><%= @beer.name %></h2>
  <h4>Average Rating</h4>
    <div class="average-review-rating" data-score=<%= @beer.average_review %>></div>
    <span>Based on <%= @beer.reviews.count %> reviews</span>
  <br>

<!-- Beer Avatar -->

  <% if @beer.avatar.attached? %>
    <%= cl_image_tag @beer.avatar.key, width: 150, height: 150, crop: :fill %>
      <% else %>
    <%= image_tag 'BeerWizardLogo.png',  :width=> 150, :height=> 150 %>
  <% end %>

<!-- review likes w ajax rendering like/unlike -->


  <%= link_to like_beer_path(@beer), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fas fa-heart pl-4"></i></p></span>
    </div>
  <% end %>
 <span class="likes-count" id="likes-count-<%= @beer.id %>"><%= render 'beers/vote', beer: @beer %></span>

<!-- Review Size -->
<br>
  <div class="mt-4">
  <h2>
    <%= pluralize @beer.reviews.size, "Review" %>
  </h2>
  </div>
<br>

<!-- review form w ajax  -->

  <div id="reviews">
    <% if @beer.reviews.blank? %>
      Be the first to leave a review for <%= @beer.name %> Beer!
    <% else %>

  <% @beer.reviews.each do |review| %>
  <br>
    <%= render 'reviews/show', review: review %>
  <% end %>
<% end %>
</div>

<!-- Beer edit for debuging beer info will remove in final -->
<hr>
  <%= render 'reviews/form', beer: @beer, review: @review %>
    <%=link_to "edit beer", edit_beer_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>

<!-- review scripts w raty -->
<!-- review scripts w raty to rate -->
<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
