<!-- Beer card /beer/#id -->

<section class="beer">
  <div class="bw-container bw-padding-top ">
    <div class="beer__topnav">
      <%= link_to "#" do %>
        <div class="back-button">
         <%= inline_svg_tag "left-arrow.svg"%>
        </div>
      <% end %>
    <%= render 'shared/avatar' %>
    </div>
    <div class="beer__main-infos">
      <div class="beer__vignette">
        <%= image_tag "Sir-Wallac-Hivernale.png", width: "151px" %>
      </div>
      <div class="beer__details">
        <div class="beer__details-top">
          <h4><%= @beer.beer_type %></h4>
          <h1><%= @beer.name %></h1>
          <p class="abv"><%= @beer.abv %></p>
          <%= render 'shared/rating' %>
        </div>
        <div class="beer__bookmark">
          <div class="circle">
            <%= link_to "#" do %>
            <%= inline_svg_tag "heart_stroke.svg", id:'test', onclick: 'change();', class: "circle__bookmark"%>
            <% end %>
          </div>
          <div class="circle">
            <%= link_to "#" do %>
            <%= inline_svg_tag "bookmark_stroke.svg", class: "circle__bookmark"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="beer__infos">
  <div class="bw-container">
  <table>
    <tr>
      <th>IBU</th>
      <th>Style</th>
      <th>Brewery</th>
    </tr>
    <tr>
      <td><%= @beer.ibu %></td>
      <td><%= @beer.style %></td>
      <td><%= @beer.brewery %></td>
    </tr>
  </table>
  </div>
</section>
<section class="beer__description">
  <div class="bw-container">
    <div class="accordion">
      <ul uk-accordion>
        <li>
          <a href="#" class="uk-accordion-title accordion__title"><h5>Beer description</h5></a>
          <div class="uk-accordion-content accordion__content">
            <p class=""><%= @beer.description %></p>
          </div>
        </li>
        <li>
          <a href="#" class="uk-accordion-title accordion__title"><h5>Review <span class="accordion__counter"><%= @beer.reviews.count %></span></h5></a>
          <div class="uk-accordion-content accordion__content">
            <div id="reviews">
              <% if @beer.reviews.blank? %>
                <p class="">Be the first to leave a review for <%= @beer.name %> Beer!</p>
              <% else %>
                <% @beer.reviews.each do |review| %>
<!--                   <hr>
 -->                <%= render 'reviews/show', review: review %>
<!--                 <%= render 'reviews/form', beer: @beer, review: @review %>
 -->                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <section class="beer__buttons bw-margin-medium-top">
    <div class="bw-container bw-flex bw-margin-medium-bottom">
        <%= link_to "Add review", root_path, class: "button-m button-m--is-half" %>
        <div class="bw-space"></div>
        <%= link_to "Share", root_path, class: "button-m button-m--is-half" %>
    </div>
  </section>
</section>
<%= render 'shared/bottomnav' %>

<div class="container mt-2 ">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

<!-- Review Average Rating -->

<!-- <h2><%= @beer.name %></h2>
  <h4>Average Rating</h4>
    <div class="average-review-rating" data-score=<%= @beer.average_review %>></div>
    <span>Based on <%= @beer.reviews.count %> reviews</span>
  <br>
 -->
<!-- Beer Avatar -->

<!--   <% if @beer.avatar.attached? %>
    <%= cl_image_tag @beer.avatar.key, width: 150, height: 150, crop: :fill %>
      <% else %>
    <%= image_tag 'BeerWizardLogo.png',  :width=> 150, :height=> 150 %>
  <% end %>
 -->
<!-- review likes w ajax rendering like/unlike -->

<!--   <%= link_to like_beer_path(@beer), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fas fa-heart pl-4"></i></p></span>
    </div>
  <% end %>
 <span class="likes-count" id="likes-count-<%= @beer.id %>"><%= render 'beers/vote', beer: @beer %></span>
 -->
<!-- review scripts w raty to rate -->
<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
