<div class="container mt-2 ">
  <div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h2><%= @beer.name %></h2>
  <h4>Average Rating</h4>
  <div class="average-review-rating" data-score=<%= @average_review %>></div>
  <span>Based on <%= @beer.reviews.count %> reviews</span>
    <br>


     <% if @beer.avatar.present? %>
      <%= cl_image_tag @beer.avatar.key, width: 300, height: 400, crop: :fill %>
    <% else %>
      <%= image_tag 'blank.jpg'%>
    <% end %>

  <%= link_to like_beer_path(@beer), class: "like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fas fa-heart pl-4"></i></p></span>
    </div>
  <% end %>
 <span class="likes-count" id="likes-count-<%= @beer.id %>"><%= render 'beers/vote', beer: @beer %></span>


<br>
  <div class="mt-4">
  <h2>
    <%= pluralize @beer.reviews.size, "Review" %>
  </h2>
  </div>
<br>


  <div id="reviews">
    <% if @beer.reviews.blank? %>
      Be the first to leave a review for <%= @beer.name %> Beer!
    <% else %>
      <% @beer.reviews.each do |review| %>
      <%= cl_image_tag review.user.avatar.key,:width=>50, :height=>50, :gravity=>"face", :crop=>"thumb" %>
    <%= review.user.name %>-
  <br>
    <%= render 'reviews/show', review: review %>
  <% end %>
<% end %>
</div>


<hr>
  <%= render 'reviews/form', beer: @beer, review: @review %>
    <%=link_to "edit beer", edit_beer_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>

<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
