<!-- <div class="card_review">
 -->
  <% @user.reviews.limit(4).each do |reviews| %>
    <%= link_to beer_path(reviews.beer)do %>
      <div class="review-rating" data-score="<%= reviews.stars %>"></div>
        <p><%= reviews.beer.name%></p>
      <p class="review-title"><%= reviews.title %></p>
    <p class="review-description"><%= reviews.description %></p>
    <% end %>
  <% end %>
<!-- </div>
 -->
