
  <div class="review-rating" data-score="<%= review.stars %>"></div>
  <p class="review-title"><%= review.title %></p>
  <% if review.user.avatar.attached? %>
    <%= cl_image_tag review.user.avatar.key, :gravity=>"face", :class=>"avatar_m" %>
  <% else %>
    <%= image_tag 'BeerWizardLogo.png', :width=> 50, :height=> 50 %>
  <% end %>


    <%= review.user.name %>-
    <div class="mt-4">
    <p><b><%= review.title %></b></p>
    <p><small>"<%= review.description %>"</small></p>
</div>




    <!--user edit review -->

  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <%= link_to "Edit", edit_beer_review_path(review.beer, review) %>
      <%= link_to "Delete", beer_review_path(review.beer, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>


<!-- <script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script> -->
