<!-- users review in beer card -->
  <div class="card_review">
    <% if review.user.avatar.attached? %>
      <%= cl_image_tag review.user.avatar.key, class: "avatar_s--has-no-border" %>
    <% else %>
      <%= image_tag 'BeerWizardLogo.png', class: "avatar_s--has-no-border" %>
    <% end %>
    <div class="card_review__user">
      <p class="card_review__id"><%= link_to user_path(review.user) do %>
        <%= review.user.name %>
      </p>
      <p class="card_review__city">
        <%= review.user.location %><% end %>
      </p>
    </div>
  </div>
  <div class="review-rating" data-score="<%= review.stars %>"></div>
  <p class="review-title"><%= review.title %></p>
  <p class="review-description"><%= review.description %>"</p>

<hr>







    <!--user edit review -->

  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <%= link_to "Edit", edit_beer_review_path(review.beer, review) %>
      <%= link_to "Delete", beer_review_path(review.beer, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>


<!-- <script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script> -->
